button {
    margin-right: 8px;
  }

  h1{
    font-size: 18px;
    text-align: center;
  }

  .mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: -24px;
    justify-content: center;
}